

.navJud{
    float:left;
    margin-top: 5px;
    /* padding: 30px;    */
    font-size:24px;
    font-family: bauhaus 93 ;
    text-align: center;
    text-decoation: none;
    color: black;
    position: absolute;
    
}

.mt-99 {
    margin-top: 2.5em;
}

.footer {
    position: fixed;
    left: 0;

    top:93% ;
    padding: 10px;
    bottom: 0;
    width: 100%;
    background-color : #352D2D;
    color: white;
    font-family: Arial;
    text-align: center;
}

div.menu{

    background-color: white;
   
    width: 900px;
    height: 400px;
    overflow: auto;
    position: absolute;
    margin:auto;
    top: 150px;
	left: 20%;
    border: 2px solid black ;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;

    
}

.borderline{

    border: 2px solid black;
}

